
body {
    margin: 0;
}

.div-1 {
    height: 170px;
    width: 100%;
    background-color:  #070373;
    justify-content: space-around;
    align-items: center;
    /*padding: 0 16px;*/
    display: flex;
}

.div-2 {
    height: 170px;
    width: 100%;
    background-color:  #070373;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0 16px;
}


.barralateral{
    position: fixed;
    top: 0;
    left: -350px;
    width: 250px;
    height: 100vh;
    background: rgba(7, 3, 115, 0.75);
    padding: 20px;
    transition: left 0.3s ease;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1001;
    transform: translateX(5px);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}

.sidebar-active{
    left: -6px;
}

.button-menu{
    height: 50px ;
    width: 100px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 20px;
    background-color: #4b71bf;
}

.button-menu:hover{
    background: rgba(255, 255, 255, 0.25);
    transition: 0.2s;
}

.text-1{
    font-size: 1.4rem; /* larger but reasonable */
    height: auto;
    font-family: 'Times New Roman', serif;
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

.text-2{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2px;
}

.text-3{
    font-size:25px;
    font-family: fantasy;
    color: black;
    justify-content: space-between;
    align-items: center;

}

.perfil {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-image: url("imagenperfilpredeterminado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Opcional: para centrar contenido dentro del botón */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.perfil:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.menu-lateral {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-lateral li {
    margin-bottom: 18px;
}

.menu-lateral a {
    display: block;
    padding: 14px 10px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15); 
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s;
}

.menu-lateral a:hover {
    background: rgba(255, 255, 255, 0.25);
    transform: translateX(5px);
}

.Div-mhpadre{
    display: flex;
    height: 280px;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;   
    padding-top: 2rem; 
}

.Div-banner{
    display: flex;
    height: 10rem;
    width: 100%;
    justify-content: center;
    align-items: center;   
    background-color: #070373; 
}

.Div-mh {
    width: 800px;          /* o el tamaño que quieras mostrar */
    height: 500px;
    overflow: hidden;
    margin: auto;
    position: relative;

}

/* Tira que se mueve */
.Div-mh-tira {
    display: flex;
    width: max-content;
}

/* Imágenes */
.Div-mh-tira img {
    width: 1000px;         /* MISMO ancho que la ventana */
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;       /* MUY importante */
}

.divgridmapahorario{
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 2rem;
    padding: 2rem;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#Div-mapa{
    width: 35rem;
    height: 20rem; 
    margin-bottom: 20px;
    background-image: url(map.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5rem;
    justify-self: center;
    margin-top: 3rem;
}

#Div-Horario{
    width: 35rem;
    height: 20rem;
    background-image: url(Imagen_Horario.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-self: center;
    border-radius: 5rem;
}

.logo{
    height: 9.5rem;
    width: 10rem;
}

.logo:hover{
    clip-path: circle(45% at 60% 50%);
    transform: scale(1.05);
    transition: 0.2s;
}

.ImagenBanner{
    height: 280px;
    width: auto;

}

#Div-mapa:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

#Div-Horario:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

.imagenperfil{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-image: url("imagenperfilpredeterminado.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-usuario{
    color:#070373;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.button-perso {
    height: 50px ;
    width: 100px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 15px;
    background-color: #4b71bf;
}

.button-perso:hover{
    background: rgba(255, 255, 255, 0.25);
    transition: 0.2s;
}

.modal-personalizar {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
}

.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-modal:hover,
.close-modal:focus {
    color: #070373;
    text-decoration: none;
    cursor: pointer;
}

.div-pf{
    background-image: url("imagenes_perfil/imagenbanerperfil.JPG.jpg");
    height: 8rem;
    width: 18em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-perfil {
    height: 20% ;
    width: 30%;
}

.button-perfil:hover{
    background: rgba(255, 255, 255, 0.25);
    transition: 0.2s;
}


.guardar-imagen {
    margin-top: 10px;
    background-color: #4b71bf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.guardar-imagen:hover {
    background-color: #355a8c;
}

.btn-imagen-perfil {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.btn-imagen-perfil img {
    width: 100%;
    height: 15%;
    border-radius: 50%;
}

.btn-imagen-perfil img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.divinfoadicional{
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #070373;
    border-radius: 8px;
}


